.avatar {
 height: 100px;
 width: 100px;
}

.userCard {
 margin: 5px;
  
}

.userCardContainer {
 margin: 30px;   
}

.selected {
 font-weight: bold;   
}
span {
    cursor:pointer;
}
span:nth-child(5) {
    margin-right: 30px;
}
