.avatar, .loader {
 height: 100px;
 width: 100px;
}

.userCard {
 margin: 5px;
 display: flex;
  
}

.userCardContainer {
    margin: 30px;   
}

.userInfoContainer {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
 
