.header{
  grid-area:h;
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
}

.logo {
  width:50px;
  border-radius: 30%;
  padding: 5px;
}

.login {
  text-align: right;
  color: white ;
  line-height: 30px;
  font-size: 100%;
  text-decoration: underline;
  padding: 10px;
   
}