.header{
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
    color: white;  
    text-decoration: none;
     
}

.logo {
  width:auto;
  height: 150px;
  position: absolute;
 
}

.login {
  text-align: right;
  font-size: 18px;

  color: white;  
}

.logoutButton {
    height: min-content;
    margin-left: 10px;
}