.photoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px
}

.avatar {
  height: 100px;
  width: 100px;
}

.text, .contacts_header {
  color:black;
  text-decoration: underline;
  font-weight: 700;
}

.contact {
  margin-left: 10px;
}